/* fontes*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,700&display=swap');

/* cores */
:root {
    --color-white: hsl(0, 0%, 96%);
    --color-bg: hsl(240, 5%, 18%);
    --color-btn: hsl(350, 79%, 58%);
}


/* container */
.container {
    background: var(--color-bg);
    height: 100%;
}

header.title {
    padding: 27px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header.title h1  {
    color: var(--color-white);
    font-family: sans-serif;
    font-weight: 700;
    font-size: 2em;
}

header.title p {
    color:hsl(0, 0%, 96%);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4em;
}
/*main*/
main.container {
    background: var(--color-white);
    border-radius: .4em;
    width: 60%;
    height: 100%;
    padding: 1em;
    margin: auto;
}

main.container label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main.container label {
    color: var(--color-black);
    font-family: sans-serif;
    margin: .3rem;
}

/*name, email, age*/

div.form-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}
div.form-name input {
    padding: .5em;
    border-radius: .3rem;    
    outline: none;
    border: 2px solid #DDD;

}

/*placeholder*/

/*best-describes*/

div.best-describes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;

}

.best-describes select{
    padding: .5em;
    border-radius: .3rem;
    outline: none;
    border: 2px solid #DDD;
}


/*Você recomendaria CodeDev a um amigo?*/

div.recommend-codedev {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2rem;
}
.options-recommend {
    display: flex;
}


/*Qual é o seu recurso favorito do CodeDev?*/

div.favorite-feature {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;

}
.favorite-feature select {
    padding: .5em;
    border-radius: .3rem;
    border: 2px solid #DDD;

}

/*O que você gostaria de ver melhorado?*/

/*like-improved*/
div.like-improved {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2rem;
}
.options-improved {
    display: flex;
}
label.like-improved {
    line-height: 1.4;
}

/*Algum comentário ou sugestão?*/

div.comments-suggestions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}
.comments-suggestions textarea {
    width: 100%;
    height: 10rem;
    resize: none;
    border: 2px solid #DDD;

}
.btn {
    margin: 2rem;
    padding: .8em;
    width: 90%;
    cursor: pointer;
    background: var(--color-btn);
    border: 0;

    color: var(--color-white);
    font-size: 1em;
    font-weight: 700;
}
footer {
    display: flex;
}

footer p {
    text-align: center;
    color:hsl(0, 0%, 96%);
    height: 100%;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
}
footer a {
    color: var(--color-white);
}

/*mobile*/

@media (max-width: 530px) {
    input.btn {
        width: 80%;
    }
}
@media (max-width: 360px){
    input.btn {
        width: 75%;
    }
}

